{% extends "layout.html" %}

{% block title %}
    Book Room
{% endblock %}

{% block main %}
    <!-- header -->
    <h1>Book Room</h1>
    <form method="POST">
        <div class="form-group">
            <label for="checkinDate">Check In Date</label>
            <input type="date" class="form-control" id="checkinDate" name="checkinDate" required>
        </div>
        <div class="form-group">
            <label for="checkoutDate">Check Out Date</label>
            <input type="date" class="form-control" id="checkoutDate" name="checkoutDate" required>
        </div>
        <div class="form-group">
            <label for="mealPlanID">Meal Plan</label>
            <select class="form-control" id="mealPlanID" name="mealPlanID" required>
                <option value="" disabled selected>Select a Meal Plan</option>
                {% for mealPlan in mealPlans %}
                    <option value="{{ mealPlan['mealPlanID'] }}">{{ mealPlan['name'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="guests">Guests</label>
            <input type="number" class="form-control" id="guests" name="guests" required>
        </div>
        <div class="form-group">
            <label for="roomNo">Room No</label>
            <input type="text" class="form-control" id="roomNo" name="roomNo" value="{{ room['roomNo'] }}" readonly>
        </div>
        <div class="form-group">
            <label for="hotelName">Hotel Name</label>
            <input type="text" class="form-control" id="hotelName" name="hotelName" value="{{ room['hotelName'] }}" readonly>
        </div>
        <div class="form-group">
            <label for="roomTypeName">Room Type</label>
            <input type="text" class="form-control" id="roomTypeName" name="roomTypeName" value="{{ room['roomTypeName'] }}" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Book Room</button>
    </form>
{% endblock %}